<header>
<style>
.logo-container {font-size: 10px;}
</style>
    <div class="logo-container">
        <img src="https://convertidor-mp3.vercel.app/images/youtube2mp3icon.png" alt="convertidor mp3, convertidor de youtube a mp3, convertidor mp4, Youtube to Mp3 converter, Yt to Mp3" class="logo">
        <h1 class="logo-text">Convertidor Mp3</h1>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
             <li><a href="/blog">Blog</a></li>
            <li><a href="/other-tool">Other Tool</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.querySelector(".hamburger");
    const navbar = document.querySelector(".navbar ul");

    hamburger.addEventListener("click", function () {
        navbar.classList.toggle("active");
    });
});

</script>




</header>
